## The Goal of Collecting this Dataset

The IBM HR Analytics Employee Attrition dataset was collected to analyze employee attrition (whether employees leave the company) based on various factors such as age, salary, job role, and work-life balance. The primary goal is to predict whether an employee is likely to leave the company and identify the key factors influencing this decision.

## Source of the Dataset

The dataset was obtained from Kaggle. You can find the dataset at the following link:

[IBM HR Analytics Employee Attrition Dataset on Kaggle](https://www.kaggle.com/datasets/pavansubhasht/ibm-hr-analytics-attrition-dataset)

## General Information about the Dataset

- **Number of Attributes (Columns)**: 35 attributes
- **Number of Objects (Rows)**: 1470 records
- **Class Name/Label**: Attrition (Yes/No)

   
  ## Types of Attributes

| Numerical Attributes       | Categorical Attributes  |
|----------------------------|-------------------------|
| Age                        | Attrition               |
| DailyRate                  | BusinessTravel          |
| DistanceFromHome           | Department              |
| Education                  | EducationField          |
| EmployeeCount              | Gender                  |
| EmployeeNumber             | JobRole                 |
| EnvironmentSatisfaction     | MaritalStatus           |
| HourlyRate                 | Over18                  |
| JobInvolvement             | OverTime                |
| JobLevel                   |                         |
| JobSatisfaction            |                         |
| MonthlyIncome              |                         |
| MonthlyRate                |                         |
| NumCompaniesWorked         |                         |
| PercentSalaryHike          |                         |
| PerformanceRating          |                         |
| RelationshipSatisfaction   |                         |
| StandardHours              |                         |
| StockOptionLevel           |                         |
| TotalWorkingYears          |                         |
| TrainingTimesLastYear      |                         |
| WorkLifeBalance            |                         |
| YearsAtCompany             |                         |
| YearsInCurrentRole         |                         |
| YearsSinceLastPromotion    |                         |
| YearsWithCurrManager       |                         |

In [2]:

import pandas as pd

# Load the dataset
df = pd.read_csv('Dataset/Dataset_HR_Employee-Attrition.csv')

# Display the first 5 rows of the dataset
print(df.head())

# Display the number of rows and columns
print(f"Number of Rows: {df.shape[0]}")
print(f"Number of Columns: {df.shape[1]}")

# Display information about the columns and their data types
print(df.info())

   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]
Number of Rows: 1470
Number of Columns: 35
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB
None